body {
    min-width: 100vh;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
.container {
    max-width: 96% 600px;
    max-height: 96% 600px;
    min-width: 400px;
    min-height: 400px;
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
}

.game-board {
    max-width: 80% 400px;
            max-height: 80% 400px;
            min-width: 300px;
            min-height: 300px;
            margin: 1px;
            padding: 1px;
            display: flex;            
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

            .hangman-box {
                border: 1px solid black;
                border-radius: 10px;
                max-width: 90px;
                max-height: 90px;
                min-width: 80px;
                min-height: 80px;
                margin: 1px;
                padding: 1px;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        
        footer {
            min-width: 300px;
            min-height: 100px;
            margin: 1px;
            padding: 1px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 10pt;
            
        }
            
            .empty-bottom, .signature-bottom {
                min-width: 200px;
                min-height: 20px;
                margin: 1px;
                padding: 1px;
            }

